{% extends 'store/base.html' %}
{% load static %}

{% block title %}{{ product.name }} — SalePoint{% endblock %}

{% block content %}
<div class="row g-4">

  <!-- IMAGE -->
  <div class="col-lg-6">
    <div class="card p-3">
      <div class="d-flex align-items-center justify-content-center" style="min-height:380px;">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        {% else %}
          <div style="height:360px; background:#f1f1f1;"
               class="w-100 d-flex align-items-center justify-content-center text-muted">
            Нет изображения
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- INFO -->
  <div class="col-lg-6">
    <div class="card p-4">

      <h2 class="h4 mb-2">{{ product.name }}</h2>

      <div class="mb-3 text-muted small">
        Артикул: {{ product.id }} •
        {% if product.is_available %}
          В наличии
        {% else %}
          Нет в наличии
        {% endif %}
      </div>

      <div class="d-flex align-items-baseline gap-3 mb-3">
        {% if product.old_price %}
          <div class="text-muted text-decoration-line-through">
            {{ product.old_price }} ₸
          </div>
        {% endif %}
        <div class="h3 mb-0">{{ product.price }} ₸</div>
      </div>

      <p class="text-muted mb-4">
        {{ product.description|truncatechars:200 }}
      </p>

      {% if product.is_available %}
        <form method="post" action="{% url 'add_to_cart' product.id %}" class="row g-2">
          {% csrf_token %}
          <div class="col-auto">
            <input type="number" name="quantity" min="1" value="1"
                   class="form-control" style="width:90px">
          </div>
          <div class="col">
            <button class="btn btn-primary w-100">
              Добавить в корзину
            </button>
          </div>
        </form>
      {% else %}
        <div class="alert alert-secondary mt-3">
          Товар временно недоступен
        </div>
      {% endif %}

      <hr class="my-4">

      <h6>Описание</h6>
      <p class="small text-muted">
        {{ product.description|linebreaksbr }}
      </p>

    </div>
  </div>

</div>
{% endblock %}
