{% extends "store/base.html" %}
{% block title %}Профиль{% endblock %}

{% block content %}

<h2 class="mb-4">Профиль</h2>

<div class="card p-4 mb-4">

    <h5 class="mb-3">Личные данные</h5>

    <p><strong>Имя:</strong> {{ request.user.username }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>

    <a href="{% url 'orders' %}" class="btn btn-dark mt-3">
        История заказов →
    </a>
    <a href="{% url 'profile_edit' %}" class="btn btn-outline-primary mt-3">
    Редактировать профиль
    </a>

</div>

{% endblock %}
