{% extends 'accounts/base_auth.html' %}

{% block title %}Регистрация – SalePoint{% endblock %}

{% block content %}
<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
    {{ form.username }}
    {{ form.username.errors }}

    <label for="{{ form.password1.id_for_label }}">Пароль</label>
    {{ form.password1 }}
    {{ form.password1.errors }}

    <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
    {{ form.password2 }}
    {{ form.password2.errors }}

    <button type="submit">Зарегистрироваться</button>

    <div class="form-footer">
        Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
    </div>
</form>
{% endblock %}
